#body {
    background-color: #36393f;
    text-align: center;
}

#text {
    color: aliceblue;
    text-align: center;
}

.header {
    border: 2px outset aliceblue;
    text-align: center;
}

.edu {
    border: 2px outset aliceblue;
}