#body {
    background-color: #36393f;
}

#text {
    color: aliceblue;
}

.header {
    border: 5px outset aliceblue;
    text-align: center;
}

.hobby {
    border: 5px outset aliceblue;
    text-align: center;
}